*{
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體,Microsoft JhengHei,黑體,SimHei,標楷體,DFKai-SB,BiauKai,全字庫正楷體,TW-Kai,'Source Sans Pro', Helvetica, sans-serif;
}
body{
	overflow-x: hidden;
    font-size: 2em;
    background: skyblue;
    color: white;
}
main::after{
	content: "";
	display: block;
	clear: both;
}
a{
	color: white;
	text-decoration: none;
	display: inline-block;
}
a:active{
	font-weight: bold;
}

nav{
	background: rgba(255,255,255,0.2);
	text-align: center;
    line-height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    overflow: auto;
    box-shadow: 5px 5px 10px black;
    z-index: 10;
}
nav li{
    display: inline-block;
}
nav a:not(:last-child)::after{
    display: inline-block;
    content: "|";
    color: white;
    margin-left: 1em;
    margin-right: 1em;
}
section{
	width: 90vw;
	height: 80vh;
	padding-top: 15vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    text-align: center;
}

footer{
	margin-top: 5vw;
	padding: 3vw;
	text-align: center;
	font-size: 1.5vw;
}